
.gitignore
.yarnrc

tsconfig.json
.eslintrc.js
.prettierrc.js

**/*.map
**/*.ts

.vscode

src/
tsconfig.json
webpack.config.js
.prettierignore
.editorconfig
.eslintignore
.github


!node_modules/vscode-*
